@tailwind base;

@tailwind components;


@tailwind utilities;
.hide{
  display: none;
}
.show{
  display: flex;
}

.mt-28 {
  margin-top: 7rem;
}

.mb-18 {
  margin-bottom: 4.5rem;
}

.pl-13 {
  padding-left: 3.5rem;
}

.pr-13 {
  padding-right: 3.5rem;
}


@tailwind utilities;
